body {
    margin: 0;
    padding: 0;
    background-color: black;
}
 
#game {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */	
}

#main_canvas {
    margin: 0 auto;
    border: 0px;
    padding: 0px;
}

#rectangle{
    background: blue;
    margin: 0 auto;
    border: 0px;
    padding: 0px;
}