@font-face {
    font-family: DTMMono;
    src: url("../fonts/DTMMono.ttf");
}

@font-face {
    font-family: MC;
    src: url("../fonts/Minecraft.ttf");
}

body {
    background-color: #01FEAA;
}

.centre {
	text-align: center;
	margin: auto;
	display:block;
}

.sans {
	color: #000201;
	font-family: "Open Sans";
}

.dtmmono {
	color: #000000;
	font-family: "DTMMono";
}

.mc {
	color: #030101;
	font-family: "MC"
}

.sideNav {
   height: 100vh;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #FE0155;
   overflow-x: hidden;
   padding-top: 60px;
   transition: 0.69s;
}
.sideNav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #000000;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   display: block;
   transition: 0.414s;
}
.sidenav a:hover {
   color: #f1f1f1;
}
.sideNav .closeBtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}
button {
   padding: 15px;
   background-color: #FEAA01;
   color: #000000;
   font-size: 20px;
   border: none;
   border-radius: 2%;
}
.main-content{
   transition: 0.69s;
}