@font-face {
    font-family: DTMMono;
    src: url("../fonts/DTMMono.ttf");
}

@font-face {
    font-family: MC;
    src: url("../fonts/Minecraft.ttf");
}

body {
	background-image: url("../img/loogoo.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.centre {
	text-align: center;
}

.light {
	background-color: #FE0155;
}

.sans {
	color: #000201;
	font-family: "Open Sans";
}

.dtmmono {
	color: #000000;
	font-family: "DTMMono";
}

.mc {
	color: #030101;
	font-family: "MC"
}