/* Font thingies */
@font-face {
	font-family: DOS;
	src: url("/fonts/DOS.ttf");
}

@font-face {
    font-family: JosefinSans;
    src: url("../fonts/JosefinSans.ttf");
}

@font-face {
    font-family: KTP;
    src: url("../fonts/KdamThmorPro.ttf");
}

/* Miscellaneous classes */
.default {
    background-image: url("../img/greenTile.png");
	/* min-height: 100vh; */
	display: grid;
	grid-template-rows: auto 1fr auto;
	
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: block;
	
	overflow-x: hidden;
}

.edd {
	background-image: url("../img/blueTile.png");
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.centre {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.black {
	color: #000201;
}

.bsod {
	font-size: 20px;
	background-color: #041375;
	color: #FFFFFF;
	font-family: "DOS";
}

.josefin {
	font-family: "JosefinSans";
}

.ktp {
	font-family: "KTP";
}

.shadow {
	text-shadow: 4px 4px 8px #050507;
}

p {
    font-size: 24px;
}

h1 {
    font-size: 50px;
}

/* Sidebar garbage */
.sideNav {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: url("../img/redTile.png");
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.69s;
}

.sideNav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #000000;
	display: block;
	transition: 0.414s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sideNav .closeBtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

button {
	background-color: #FEAA01;
	color: #000000;
	font-size: 20px;
	border: none;
	border-radius: 2%;
	padding: 15px;
}

.main-content {
	transition: 0.69s;
	margin-left: 20px;
}

/* idfk at this point tbh */
.floatLeft {
	position: absolute;
	top: 42;
	left: 42;
}

li {
	margin-bottom: 40px;
}

li:last-child {
	margin-bottom: 0px;
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.tiny {
    font-size: 10px;
}

img {
	width: 100%;
}

.box {
  border: 2px solid;
  box-shadow: 4px 8px #282829;
  width: 400px;
}

code {
	font-family: monospace, monospace;
	background-color: #01cb88;
}

#poopoo {
	/* my logo but I resized it to fix shiet */
	width: 200px;
	height: auto;
}

/* stupid bg hack */
.page {
	z-index: 2;
	position: relative;
}

.bg {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0px; 
	bottom: 0px;
	right: 0px;
	
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	/* max-width: 100%; */
	
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: block;
}

.bg iframe {
	position: relative;
	left: -8px; /* emojis are buggy so shift them */
}
