/* funni font for searchbar */
@font-face {
    font-family: "SalmaPro";
    src: url("./assets/fonts/SalmaproMedium-yw9ad.otf");
}

/* container (absolute positioning, positioning in general, margins, blah blah blah) */
#sbar-container {
    position: absolute;
    text-align: center;

    width: 0vw;
    height: 40px;

    top: 0px;
    left: 0;
    right: 0;
    margin-inline: auto;
}

/* search formatting */
#search {
    font-family: "SalmaPro", "sans-serif";
    width: 100%;
    height: 30px;
}

/* error message <p> formatting */
#err {
    font-family: "SalmaPro", "sans-serif";
    color: #ff2952;
}

#err.fade-transition {
    transition: opacity 1s;
}

#engine-display {
    font-family: "SalmaPro", "sans-serif";
    font-size: 16px;
}